html,
body {
  height: 100%;
}

.form-signin {
  max-width: 440px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .form-control {
  border-radius: 0.375rem;
}
