{% extends "app1/layout.html" %}
{% block body %}



  <!-- Main content centered -->
  <div class="container flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="row w-100">
      <div class="col-sm text-center">
        <!--<button type="button" class="btn btn-primary btn-square">APP 1</button>-->
        <a href="{% url 'file_upload_home' %}" class="btn btn-primary btn-square" target="_blank" >APP 1</a>
      </div>
      <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-square">APP 2</button>
      </div>
      <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-square">API 1</button>
      </div>
      <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-square">API 2</button>
      </div>
    </div>
  </div>

  <!-- Footer -->


{% endblock %}


<!-- <div class="container align-text-bottom">-->
<!--        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="font-size: 18px;">-->
<!--          <p class="col-md-4 mb-0 text-body-secondary">2025 Demo Web Page </p>-->
<!--        </footer>-->
<!--</div>-->