{% extends "app1/layout.html" %}
{% block body %}


    <main class="form-signin w-100 m-auto">
      <h1 class="text-center">Demo Web Page</h1>

      <form action = "{% url 'login' %}" method="post">
        {% csrf_token %}
        <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <p class="fw-normal text-center">please sign in</p>
        <!-- <h3 class="fw-normal text-center">please sign in</h3> -->
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="username" name = "floatingInput_name">
          <label for="floatingInput">User Name</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name = "floatingPassword_name">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <!-- <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2024</p> -->
      </form>
      <p class="text-center text-danger">{{ login_message }}</p>

      <br>
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-success  w-100 py-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
      See Credintials
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <textarea class="form-control" rows="2" id="comment" name="text">
User Name: visitor
Password: tester123
            </textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="fillupCredintials()"> paste credintials</button>
          </div>
        </div>
      </div>
</div>

    </main>







{% endblock %}